/*generics*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

/*content*/

/***HEADER***/
header{
    height: 8vh;
    line-height: 8vh;
    vertical-align: middle;
    background-color: hsl(0deg 0% 92%);
}

.header-left{
    border-right: 1px solid lightgray;
}

.profile{
    height: 40px;
    border-radius: 50%;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.nav i{
    margin: 0 5px;
    color: hsl(0deg 0% 69%);
    font-size: 20px;
    cursor: pointer;
}

/*** / HEADER***/

/***MAIN LEFT***/


.left{
    height: 92vh;
}

.notifications-container{
    padding: 10px 0;
    background-color: hsl(199deg 95% 77%);
}

.notifications-container i{
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    color: hsl(199deg 95% 77%);
}

.notifications-container h4{
    font-size: 12px;
    margin: 0;
}

.notifications-container a{
    font-size: 12px;
    color: gray;
    margin: 0;
}

.search-container{
    margin: 5px 0;
}

#lens{
    background-color: white;
    color: gray;
}

#search{
    border: 1px solid lightgray;
    font-size: 12px;
}

.contact-container{
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.chat-info{
    margin: 0 auto;
}

.contact-name{
    font-size: 16px;
}

.last-message{
    font-size: 12px;
    color: gray;
}

.time{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
    color: gray;
}
/*** / MAIN LEFT***/


/***MAIN RIGHT***/

.chat{
    padding: 0;
    background-image: url(../img/mine.jpg);
}

/*** / MAIN RIGHT***/

