/*generics*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

/*content*/

/***HEADER***/
header{
    display: flex;
    height: 8vh;
    background-color: hsl(0deg 0% 92%);
}

.personal-profile{
     display: flex;
     align-items: center;
}

.personal-profile span{
    margin-left: 10px;
    font-weight: 600;
}

.profile{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.header-left, .header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header-left{  
    width: 35%;   
    border-right: 1px solid lightgray;
}

.header-left i{
    margin-left: 10px;
    color: hsl(0deg 0% 69%);
    cursor: pointer;
}

.header-right{
    width: 65%;
}

.header-right i{
    margin-left: 10px;
    color: hsl(0deg 0% 69%);
    cursor: pointer;
}

.selected-contact{
    display: flex;
    align-items: center;
}

.selected-contact span{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 10px;
}

/*** /HEADER***/


/***MAIN***/

main{
    display: flex;
    height: 92vh;
}

/*main-left*/

.main-left{
    width: 35%;
    background-color: hsl(0deg 0% 98%);
}

/*notification section*/

.notifications{
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: hsl(199deg 95% 77%);
}

.notifications i{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    color: hsl(199deg 95% 77%);
}

.notifications h3{
    font-size: 14px;
    margin-bottom: 0;
}

.notifications a{
    color: gray;
    font-size: 12px;
}

/* /notification section*/

/*search section*/

.search-container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.search-icon i{
    color: gray;
    justify-content: center;
    padding: 0 25px;
    border-right: 1px solid lightgray;
}

.search-input{
    width: 80%;
}

.search-input input{
    border: 0;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
}

.search-input input:focus-visible{
    outline: none;
}

/* /search section*/

/*contact section*/

.contact-container{  
    height: 77.5vh;
    overflow-y: scroll;
}

.contact-box{
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
    position: relative;
    cursor: pointer;
}

.contact-box:hover{
    background-color: rgb(197, 197, 197);
}

.contact-img{
    padding: 0 10px;
}

.contact-box h5{
    margin: 2px 0;
    font-size: 16px;
}

.contact-box p{
    margin: 0;
    font-size: 12px;
    color: gray;
}

.time{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    color: gray;
}
/* /contact section*/

/* /main-left*/


/* main-right*/

.main-right{
    width: 65%;    
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

/*chat section*/

.chat-area{
    height: 92%;
    padding: 30px;
    overflow-y: scroll;
}

.sent, .received{
    margin-bottom: 15px;
}

.sent{
    display: flex;
    justify-content: flex-end;
}

.sent span{
    font-size: 10px;
    color: rgb(146, 146, 146);    
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.sent p{
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(94deg 84% 85%);
    max-width: 350px;
    padding-right: 45px;
    position: relative;
}

.received{
    display: flex;
    justify-content: flex-start;
}

.received span{
    font-size: 10px;
    color: rgb(146, 146, 146);
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.received i{
    display: none;
}

.received p{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    max-width: 350px;
    padding-right: 45px;
    position: relative;
}

/* /chat section*/

/*message input section*/

.message-input-container{
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(27deg 27% 94%);
}

.message-input{
    width: 80%;
}

.emoticons, .microphone{
    width: 10%;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: hsl(226deg 5% 48%);
    cursor: pointer;
}

.message-input input{
    height: 35px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    color: hsl(226deg 5% 48%);
}

.message-input input:focus-visible{
    outline: none;
}

/* /message input section*/

/* /main-right*/

/*** /MAIN***/