<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue-Boolzapp</title>
</head>

<body>
    <div id="boolzapp">
        <!--HEADER-->
        <header>
            <!--header left-->
            <div class="header-left">
                <div class="personal-profile">
                    <img class="profile" src="img/avatar_io.jpg" alt="sofia">
                    <span>sofia</span>
                </div>
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!--/header left-->

            <!--header right-->
            <div class="header-right">
                <div class="selected-contact">
                    <img class="profile" :src="'img/avatar' + selectedContact.avatar + '.jpg'" alt="immagine contatto">
                    <span>{{selectedContact.name}}</span>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!--/header right-->
        </header>
        <!--/HEADER-->

        <!--MAIN-->
        <main>
            <!--main left-->
            <div class="main-left">
                <!--notification section-->
                <div class="notifications">
                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!--/notification section-->

                <!--search section-->
                <div class="search-container">
                    <div class="search">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="search-input">
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                </div>
                <!--/search section-->

                <!--contact section-->
                <div class="contact-container">
                    <div v-for="(contact, index) in contacts" @click="selectContact(contact)">
                        <div class="contact-box">
                            <div class="contact-img">
                                <img class="profile" :src="imgURLAvatar(contact)" alt="immagine contatto">
                            </div>
                            <div class="contact-info">
                                <h5>{{contact.name}}</h5>
                                <p><i class="fa-solid fa-check"></i> {{showLastMessage(contact)}}</p>
                                <span class="time">{{showLastDate(contact)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/contact section-->
            </div>
            <!--/main left-->

            <!--main right-->
            <div class="main-right">
                <!--chat section-->
                <div class="chat-area">
                    <div v-for="item in selectedContact.messages" :class="item.status">
                        <div>
                            <p>{{item.message}} <span><i class="fa-solid fa-check"></i> {{item.date}}</span></p>
                        </div>
                    </div>
                </div>
                <!--/chat section-->

                <!--message input section-->
                <div class="message-input-container">
                    <div class="emoticons">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="message-input">
                        <input @keyUp.enter="addNewMessage(contacts[0].messages)"
                            @click="addNewMessage(contacts[0].messages)" type="text" placeholder="Scrivi un messaggio"
                            v-model="newMessage">
                    </div>
                    <div class=" microphone">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
                <!--/message input section-->
            </div>
            <!--/main right-->
        </main>
        <!--/MAIN-->
    </div>
</body>

</html>